version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: backend-tcc-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: backend_tcc
      MYSQL_USER: tcc_user
      MYSQL_PASSWORD: tcc_password
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend-network
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
    driver: local

networks:
  backend-network:
    driver: bridge

